<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="U.STRA ALICE">
        <meta name="author" content="GSITM">
        <meta name="keyword" content="U.STRA ALICE">
    </head>

    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
        <div class="container-fluid" layout:fragment="content" style="padding-top: 30px;"></div>
    </body>

    <footer th:replace="layout/footerLayout :: footerFragment"></footer>
</html>