<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="U.STRA ALICE">
        <meta name="author" content="GSITM">
        <meta name="keyword" content="U.STRA ALICE">

        <title>U.STRA ALICE</title>
        <!-- Icons-->
        <link href="/node_modules/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
        <link href="/node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
        <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application-->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

        <link href="/css/tui-grid.css" rel="stylesheet">
        <link href="/css/tui-chart.css" rel="stylesheet">
        <link href="/css/file.css" rel="stylesheet">
        <link href="/css/calender.css" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics-->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          // Shared ID
          gtag('config', 'UA-118965717-3');
          // Bootstrap ID
          gtag('config', 'UA-118965717-5');
        </script>

        <!-- CoreUI and necessary plugins-->
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/node_modules/pace-progress/pace.min.js"></script>
        <script src="/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
        <!-- Plugins and scripts required by this view-->
        <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="/node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
        <script src="/js/tui/xlsx.full.min.js"></script>
        <script src="/js/tui/tui-grid.js"></script>
        <script src="/js/tui/toastui-chart.min.js"></script>
        <script src="/js/wordcloud2.js"></script>
        <script src="/js/calender.js"></script>
        <script src="/js/common.js"></script>
    </head>
</head>
</html>